parameters:
    url_jira: "https://jira.example.com/"
    url_rest: "https://jira.example.com/rest/"
    login_read_user:
    login_read_pass:
    login_write_user:
    login_write_pass:
    retrospective_epics: ["JIRA-1234", "JIRA-2345"]
